body {
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 10px;
}

.logo {
    min-width: 25vw;
    max-width: 50vw;
    height: 55px;
}

header {
    border-bottom: solid 0.1rem lightgray;
    display: flex;
    justify-content: space-between;
    padding: 5px 0 10px 0; 
    background-color: white;
}



.user-avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-top: 10px;
}

.user-post {
    width: 100%;
}

.user-info {
    display: flex;
    margin: 1px 10px 10px 10px;
    border-top: solid 0.1rem lightgray;
}

.user-name, .user-id {
    font-weight: bold;
    font-size: 20px;
}
.user-name {
    margin: 10px 0 0 10px;
}

.user-location {
    margin: 2px 0 0 10px;
}

.icon-heart, .icon-comment, .icon-dm {
    width: 35px;
    height: 35px;
    margin: 10px 5px;
    transition: 1s;
    cursor: pointer;
}
.icon-heart:hover, 
.icon-comment:hover, 
.icon-dm:hover {
    opacity: 0.5;
    border-bottom:  10px solid red;
}

.post-likes {
    margin: 10px;
}

.user-id {
    margin: 10px 0 10px 10px;
    font-size: 15px;
}

